//
// Footer
//
.ly-footer {
  background-color: $footer-color;
  padding: 20px 0;
}
.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 16px;
  }
  a {
    color: $white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
  }
}


@include laptop {
  .ly-footer {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@include mobile {
  .ly-footer {
    padding: 0;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .footer-nav {
    height: 100%;
    overflow: hidden;
    li {
      $border-style: 1px solid rgba(255,255,255,.2);
      float: left;
      display: block;
      width: 50%;
      border-right: $border-style;
      border-bottom: $border-style;
      box-sizing: border-box;
      margin-right: 0;
    }
    a {
      display: block;
      padding: 12px 10px;
    }
  }
}
