//
// Common
//
.section-title {
  font-size: 16px;
  margin: 0;
  padding: 8px 16px;
  color: $white;
  background-color: $section-title-color;
  border-radius: 4px;
  i {
    margin-right: 5px;
  }
}


//
// Articles
//
.post__wrap {
  margin-bottom: 30px;
  .wpp-list {
    height: 100%;
    overflow: hidden;
    li {
      width: 48%;
      margin-right: 4%;
      float: left;
      display: block;
      box-sizing: border-box;
      clear: none;
      border-bottom: none;
      &:nth-child(2n){
        margin-right: 0;
      }
    }
  }
}
.articles {
  padding: 15px 0;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px dotted $border-color;
  &:last-child {
    border-bottom: none;
  }
}
.articles__thumb {
  float: left;
  width: 140px;
  line-height: 0;
  font-size: 0;
  img {
    width: 140px;
    height: auto;
  }
}
.articles__main {
  margin-left: 155px;
  .post-categories {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 13px;
  }
}
.articles__title {
  font-size: 18px;
  margin: 0 0 10px 0;
  line-height: 1.3;
}
.articles__meta {
  height: 100%;
  overflow: hidden;
}
.articles__date,
.articles__views {
  margin: 0;
  color: $gray-text-color;
  font-size: 13px;
}
.articles__date {
  float: left;
}
.articles__views {
  float: right;
  i {
    margin-right: 3px;
  }
}

.post__meta {
  height: 100%;
  overflow: hidden;
  color: $gray-text-color;
  margin-bottom: 20px;
  i {
    margin-right: 5px;
  }
}
.post__date {
  float: left;
}
.post__author {
  float: right;
}
.post__views {
  float: right;
  margin-left: 20px;
}
.post__title {
  font-size: 26px;
  line-height: 1.3;
  margin: 0 0 20px 0;
}
.post__description {
  color: $gray-text-color;
  margin-bottom: 20px;
  p {
    margin: 0;
  }
}
.post__thumb {
  text-align: center;
  font-size: 0;
  img {
    max-width: 100%;
    height: auto;
  }
}
.post__body {
  @import "editor-style";
}
.post__share {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  letter-spacing: -.4em;
  li {
    display: inline-block;
    letter-spacing: normal;
    margin-right: 10px;
  }
  a {
    display: block;
    padding: 10px 20px;
    color: $white;
    font-weight: bold;
    border-radius: 4px;
    transition: .2s all ease-out;
    border: none;
    outline: 0;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      opacity: .7;
    }
  }
  .icon {
    margin-right: 5px;
  }
  .fb a {
    background-color: $fb-color;
  }
  .tw a {
    background-color: $tw-color;
  }
  .line {
    display: none;
  }
  .line a {
    background-color: $line-color;
  }
  .line img {
    height: 18px;
    vertical-align: middle;
  }
}

.yarpp-related {
  margin-top: 30px;
}
.related-post {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  & + img {
    display: none;
  }
  li {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  a {
    display: block;
    line-height: 1.2;
    font-weight: bold;
  }
  .thumb {
    width: 100px;
    float: left;
    font-size: 0;
    img {
      width: 100px;
      height: auto;
    }
  }
  .text {
    margin-left: 115px;
  }
  h3 {
    font-size: 14px;
    margin: 0;
  }
}

.wp-pagenavi {
  $h: 40px;
  position: relative;
  height: $h;
  margin-top: 20px;
  .current,
  .page {
    display: none;
  }
  .pages {
    line-height: $h;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .nextpostslink,
  .previouspostslink {
    display: inline-block;
    background-color: $link-color;
    color: $white;
    padding: 0 16px;
    height: 30;
    line-height: $h;
    font-weight: bold;
    position: absolute;
    z-index: 5;
    border-radius: 4px;
    transition: .2s all ease-out;
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
  .nextpostslink {
    right: 0;
  }
  .previouspostslink {
    left: 0;
  }
}


.btn {
  font-weight: bold;
  padding: 12px 16px;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: .2s all ease-out;
  &:hover {
    text-decoration: none;
    opacity: .8;
  }
  &.primary {
    background-color: $link-color;
    color: $white;
  }
  &.full {
    width: 100%;
    display: block;
  }
}
.article-more {
  text-align: center;
  margin-top: 20px;
}

.post_pagelike {
  padding: 15px;
  background-color: #f9f9f9;
  margin-top: 15px;
  border: 1px solid #eee;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  .thumb {
    width: 100px;
    float: left;
    font-size: 0;
    img {
      width: 100px;
      height: auto;
    }
  }
  .text {
    margin-left: 115px;
    p {
      margin: 20px 0 10px 0;
    }
  }
  .fb-page {
    display: inline-block;
    width: 500px;
  }
}

.alert {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 30px;
  margin-top: 20px;
  border-radius: 4px;
}

@include laptop {
  .post__wrap {
    .wpp-list {
      li {
        width: auto;
        float: none;
        border-bottom: 1px dotted #ddd;
        margin-right: 0;
      }
    }
  }
}

@include mobile {
  .section-title {
    border-radius: 0;
  }
  .articles {
    padding: 15px;
  }
  .articles__thumb {
    width: 100px;
    img {
      width: 100px;
    }
  }
  .articles__main {
    margin-left: 115px;
  }
  .articles__title {
    font-size: 16px;
  }
  .post__wrap {
    padding: 15px;
    margin-bottom: 0;
    .tag-cloud {
      margin: 0;
    }
    .wpp-list {
      margin: -15px;
    }
  }
  .post__share {
     margin: 20px -15px;
     li {
       margin-right: 0;
       width: 33.333%;
     }
     a {
       border-radius: 0;
       text-align: center;
       padding-left: 0;
       padding-right: 0;
       width: 100%;
       &:hover {
         opacity: 1;
       }
     }
     .line {
       display: inline-block;
     }
  }
  .related-post {
    margin-top: 0;
    li {
      width: auto;
      float: none;
      margin-right: 0;
      margin-bottom: 0;
      border-bottom: 1px dotted $border-color;
      &:last-child {
        border-bottom: none;
      }
    }
    a {
      padding: 15px;
      height: 100%;
      overflow: hidden;
    }
  }
  .yarpp-related {
    margin-top: 0;
  }
  .wp-pagenavi {
    margin: 15px;
  }
  .article-more {
    margin: 15px;
    .btn {
      display: block;
    }
  }
  .post_pagelike {
    margin-top: 0;
    border: none;
    background-color: $white;
    .text p {
      margin-top: 10px;
    }
  }
}
