//
// Common
//
.section-title {
  font-size: 16px;
  margin: 0;
  padding: 8px 16px;
  color: $white;
  background-color: $section-title-color;
  border-radius: 4px;
  i {
    margin-right: 5px;
  }
}


//
// Articles
//
.articles {
  padding: 15px 0;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px dotted #ddd;
  &:last-child {
    border-bottom: none;
  }
}
.articles__thumb {
  float: left;
  width: 140px;
  line-height: 0;
  font-size: 0;
  img {
    width: 140px;
    height: auto;
  }
}
.articles__main {
  margin-left: 155px;
  .post-categories {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 13px;
  }
}
.articles__title {
  font-size: 18px;
  margin: 0 0 10px 0;
  line-height: 1.3;
}
.articles__meta {
  height: 100%;
  overflow: hidden;
}
.articles__date,
.articles__views {
  margin: 0;
  color: #888;
  font-size: 13px;
}
.articles__date {
  float: left;
}
.articles__views {
  float: right;
  i {
    margin-right: 3px;
  }
}

.post__meta {
  height: 100%;
  overflow: hidden;
  color: #888;
  margin-bottom: 20px;
  i {
    margin-right: 5px;
  }
}
.post__date {
  float: left;
}
.post__author {
  float: right;
}
.post__views {
  float: right;
  margin-left: 20px;
}
.post__title {
  font-size: 26px;
  line-height: 1.3;
  margin: 0 0 20px 0;
}
.post__description {
  color: #888;
  margin-bottom: 20px;
  p {
    margin: 0;
  }
}
.post__thumb {
  text-align: center;
  font-size: 0;
  img {
    max-width: 100%;
    height: auto;
  }
}
.post__body {
  @import "editor-style";
}
.post__share {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  letter-spacing: -.4em;
  li {
    display: inline-block;
    letter-spacing: normal;
    margin-right: 10px;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    color: $white;
    font-weight: bold;
    border-radius: 4px;
    &:hover {
      text-decoration: none;
      opacity: .7;
    }
  }
  .icon {
    margin-right: 5px;
  }
  .fb a {
    background-color: #6571a3;
  }
  .tw a {
    background-color: #83b5e2;
  }
  .line a {
    background-color: #86c682;
  }
  .line img {
    height: 20px;
    vertical-align: middle;
  }
}

.yarpp-related {
  margin-top: 30px;
}
.related-post {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  & + img {
    display: none;
  }
  li {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  a {
    display: block;
    line-height: 1.2;
    font-weight: bold;
  }
  .thumb {
    width: 100px;
    float: left;
    font-size: 0;
    img {
      width: 100px;
      height: auto;
    }
  }
  .text {
    margin-left: 115px;
  }
  h3 {
    font-size: 14px;
    margin: 0;
  }
}

@include mobile {
  .section-title {
    border-radius: 0;
  }
  .articles {
    padding: 15px;
  }
  .articles__thumb {
    width: 100px;
    img {
      width: 100px;
    }
  }
  .articles__main {
    margin-left: 115px;
  }
  .articles__title {
    font-size: 16px;
  }
  .post__wrap {
    padding: 15px;
  }
  .post__share {
     margin: 20px -15px;
     li {
       margin-right: 0;
       width: 33.33%;
     }
     a {
       display: block;
       border-radius: 0;
       text-align: center;
     }
  }
  .related-post {
    margin-top: 0;
    li {
      width: auto;
      float: none;
      margin-right: 0;
      margin-bottom: 0;
      border-bottom: 1px dotted #ccc;
      &:last-child {
        border-bottom: none;
      }
    }
    a {
      padding: 15px;
      height: 100%;
      overflow: hidden;
    }
  }
}
