$white: #fff;
$key-color: #f3a6a9;
$sub-color: #d29188;
$font-color: #333;
$footer-color: #cfc5b2;
$section-title-color: #cfad9f;
$link-color: #8eca91;

$base-font-size: 14px;
$base-font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;;
$base-line-height: 1.5;

$site-width: 1200px;
$header-height: 50px;
$sidebar-width: 300px;

$break-point-laptop: $site-width + 40px;
$break-point-tablet: 800px;
$break-point-mobile: 600px;
